# Remove .example, add ad under env/.env.auth

# Application
PORT=3000
NODE_ENV=development

# Properties API
PROPERTIES_SERVICE_URL=http://localhost:3000

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/auth_db"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Configuration
JWT_SECRET=jwt_secret_key_here
ACCESS_TOKEN_SECRET=access_token_secret_here
REFRESH_TOKEN_SECRET=refresh_token_secret_here
JWT_EXPIRES_IN=3600
REFRESH_TOKEN_EXPIRES_IN=604800

# Key Lookup
KEY_LOOKUP_SECRET=key_lookup_secret_here

# Password Hashing
HASH_SALT_ROUNDS=12

# Google OAuth
GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/v1/oauth/google/callback
